<!DOCTYPE html>
<html>
<script src="js/jquery.min.js"></script>
<script src ="js/login.js"></script>
<body>
<div>
        Username:  <%= profileData.name %><br>
        Password:  <%= profileData.pass %><br>
<div>
</body>
</html>