<!DOCTYPE html>
<html>
<title>Delete Milestone</title>
<body>

<h1>Delete a Milestone</h1>
<p>This is a paragraph.</p>

<form id="formDelMilestone" name="delMilestone" method="post" action="/delmilestone">
    <label>Milestone Referance ID (Format: "1", "2", "3", ...)</label>
    <input type="text" name="milestoneID" placeholder="Enter Milestone ID" required>
    <input type="submit" value="Delete milestone">
</form>

</body>
</html>

