<!DOCTYPE html>
<html>
<title>Delete Project</title>
<body>

<h1>Delete a Project</h1>
<p>This is a paragraph.</p>

<form id="formDelProject" name="delProject" method="post" action="/delproject">
    <label>Project Referance ID (Format: [first 3 letters project name] + [project id] {"pro1", "exa2"})</label>
    <input type="text" name="projectID" placeholder="Enter Project ID" required>
    <input type="submit" value="Delete Project">
</form>

</body>
</html>

