<html>
<title>Home</title>
<script src="js/jquery.min.js"></script>
<script src ="js/login.js"></script>
<body>
  <div  id = "mainDiv">
  <div id="regDiv">
  <button id="regBtn">New User Register</button></p>
</div>
<div id="loginDiv">
  <button id ="loginBtn">Login</button></p>
</div>
<div id="dataDiv"></div>
</div>
<body>
</html>