<!DOCTYPE html>
<html>
<title>Homepage</title>
<body>

<h1>Homepage</h1>

<form action="/milestones">
    <input type="submit" value="Milestone Page" />
</form>

<form action="/projects">
    <input type="submit" value="Project Page" />
</form>

</body>
</html>