<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery.min.js"></script>
    <script src ="js/login.js"></script>
</head>

<script>
</script>
<body>
<input name="name" value=<%= loginData.name %> id ="name">
<input name="pass" value=<%= loginData.pass %> id = "pass">
<p>
<button id="saveBtn">Save</button></p>
</body>
</html>